@import 'variables';
#blogpost {
    background:#fff;
    text-align: center;
    padding:6em 0 0 0;
    h1 {
        margin:0;
        color: ##545454;
        font-size: 3.25em;
        font-weight: 400;
        line-height: 70px;
        text-transform: uppercase;
    }
    h2 {
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        color: ##545454;
        font-size: 28px;
        font-weight: lighter;
        line-height: 30px;
        margin: 0 0 40px;
        text-align: center;
    }
    .btn-outline-white {
        color: #f6464a;
        text-transform: none;
        border: 2px solid #f6464a;
        font-size: 14px !important;
        line-height: 24px !important;
        border: 2px solid #F6464A;
        color: #F6464A;
        text-transform: none;
    }
    .btn {
        margin:0;
    }
    .btn-outline-white:hover {
        background-color: #F6464A;
        color: #FFFFFF;
    }
    p {
        .btn-outline-white {
            text-transform: uppercase;
        }
    }
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        li.slide {
            article {
                margin-bottom: 40px;
                text-align:center;
                h1 {
                    color: #888888 !important;
                    font-style: normal;
                    font-weight: lighter;
                    margin: 0 0 5px;
                    text-transform: none;
                    line-height:54px;
                }
                h4 {
                    color: #888888 !important;
                    font-style: normal;
                    font-weight: 200;
                    text-transform: none;
                    span {
                        a {
                            color:#F6464A;
                        }
                        a:hover {
                            color:#333 !important;
                        }
                    }
                }
                h1:hover {
                    color: #F6464A;
                }
            }
        }
    }
    li {
        margin: 0px;
        padding: 10px 0 0;
    }
}
#post-slider {
    position:relative;
    margin-bottom:6em;
}
.twitter-feed {
    height: 400px;
    overflow:hidden;
    position:relative;
    background:#F8F8F8;
    width: 100%;
    z-index: 0;
    .container {
        text-align:center;
        vertical-align:middle;
    }
}
.twitter-bg {
    background-image:url("../images/34_parallax-image.jpg");
}
.tweetList {
    list-style-type:none;
    margin:0;
    p {
        margin:0;
        color:#fff;
    }
}
.twitter_img {
    margin: 0 24px 24px;
    width:54px;
    height:54px;
}
