@import 'variables';
#programs {
    background-color: @vif-teal;
    text-align: center;
    padding: 6em 0 0;
    color: #fff;
    h1 {
        margin:0;
        color: #fff;
        font-size: 3.25em;
        font-weight: 400;
        line-height: 70px;
        text-transform: uppercase;
    }
    hr {
        border-top: 1px solid @vif-teal;
        margin: 20px auto;
        padding: 0;
        width: 15%;
    }
    h2 {
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        color: #fff;
        font-size: 28px;
        font-weight: lighter;
        line-height: 30px;
        margin: 0 0 40px;
        text-align: center;
        a {
            color: #fff;
        }
    }
    .service-column {
        cursor: default;
        -webkit-transition: all 0.80s ease-out;
        -moz-transition: all 0.80s ease-out;
        -o-transition: all 0.80s ease-out;
        transition: all 0.80s ease-out;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background:rgba(255, 255, 255, 0.06);
        border:1px solid rgba(255, 255, 255, 0.1);
        cursor: default;
        position:relative;
    }
    .service-column:hover {
        border:1px solid rgba(255, 255, 255, 0);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        background:rgba(255, 255, 255, 0.0);
        .service-icon {
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            transform:rotate(45deg);
            opacity:0.3;
            animation: smallToBig 900ms alternate infinite ease;
        }
    }
    .service-icon {
        background-color: #FFFFFF;
        display: inline-block;
        height: 80px;
        margin-top: 40px;
        width: 80px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-box-shadow: inset 0 0 0 50px #fff;
        -moz-box-shadow: inset 0 0 0 50px #fff;
        box-shadow: inset 0 0 0 50px #fff;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        i {
            color: @vif-teal;
            font-size: 52px;
            height: 100%;
            line-height: 85px;
            width: 100%;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }
    }
    .btn-outline-white {
        color: @vif-teal;
        text-transform: none;
        border: 2px solid @vif-teal;
        font-size: 14px !important;
        line-height: 24px !important;
        border: 2px solid @vif-teal;
        color: @vif-teal;
        text-transform: none;
        text-transform: uppercase;
    }
    .btn {
        margin: 1em 10px 0;
    }
    .btn-outline-white:hover {
        background-color: @vif-teal;
        color: #FFFFFF;
    }
}
#our-service-container {
    width:100%;
    margin:0 auto;
    padding:20px 0 0px 0;
}
.our-service {
    width:360px;
    margin:5px;
    float:left;
    background:none;
}
.service-content {
    background-color: none;
    padding: 20px;
    text-align:center;
    h2 {
        transition: color 0.3s ease-out 0s;
        text-align:center;
    }
    h4 {
        a {
            color: #4B4B48;
            margin-top: 0;
            text-transform:uppercase;
        }
    }
}
.getInTouch {
    height: 400px;
    overflow:hidden;
    position:relative;
    background:#F8F8F8;
    width: 100%;
    margin:6em 0 0 0;
    z-index: 0;
    h1 {
        font-size:36px !important;
        color:#f1f1f1 !important;
    }
    .container {
        text-align:center;
        vertical-align:middle;
    }
    .info-container {
        background: url("../images/03_overlay_pattern.png") repeat scroll left top rgba(0, 0, 0, 0.6);
        display: table;
        height: 100%;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
}
.getInTouch-bg {
    background-image:url("../images/15_parallax-image.jpg");
}
.nav-collapse.collapse.in {
    height: auto !important;
}
