.btn-contact(){
    font-family: BrandonPrinted-Two;
     color:@vif-red;
     background-color:transparent;
     font-size:1.5em;
    .arrow{
        font-family: BrandonPrinted-Extras;
        font-size:1em;
    }
}